body {
  padding: 0;
  margin: 0;
  background-color: #fffffa; 
  font-size: 100%; 
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

.text-it {
  font-style: italic;
}


header {
  padding: 10px;
  font-family: 'Lato', serif;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px dotted rgba(175, 175, 200, 0.3); 
}

p {
  text-shadow: -1px 0 2px rgba(150, 150, 200, 0.2); 
}

h2 {
  font-family: 'Lato', serif;
}

.s-top {
  width: 100%; 
}

section.main-content {
  max-width: 36em;
  margin: 0 auto;
  padding: 0 2em;
  width: 90%; /* fallback if needed */
  width: calc(100% - 3em);
  margin: 0 auto; 
}

section.main-content > div {
  margin-bottom: 10px;
}

.s-bottom {
  width: calc(100% - 250px);
  max-width: 720px;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid rgba(200, 200, 200, 0.5); 
}

.social-media-links {
  margin-right: 10px; 
}
