body {
  padding: 0;
  margin: 0;
  background-color: #fffffa; 
  font-size: 100%; 
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

ul {
  margin: 0;
}

.text-it {
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

.font-mono {
  font-family: monospace;
}

header {
  padding: 10px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px dotted rgba(175, 175, 200, 0.3); 
}

.p {
  margin: 0 0 1em 0;
  padding: 0;
  text-shadow: -1px 0 2px rgba(150, 150, 200, 0.2);  
}

h1 {
  margin: 0 0 0 0;
  font-size: 2.747em;
  font-family: 'Lato', serif;
}
h2 {
  margin: 0 0 0 0;
  font-size: 0.874em;
  font-family: 'Lato', serif;
}
h3 {
  margin: 0 0 5px 0;
  font-size: 1.229em;
  font-family: 'Lato', serif;
}
h4 {
  margin: 0 0 0 0;
}

.s-top {
  width: 100%; 
}

section.main-content {
  max-width: 34em;
  margin: 2em auto 0 auto;
  padding: 0 1em;
  font-size: 1.1em;
}

section.main-content > div {
  margin-bottom: 30px;
}

.s-bottom {
  max-width: 30em;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid rgba(200, 200, 200, 0.5); 
}

