body {
  padding: 0;
  margin: 0;
  background-color: #fffffa; 
  font-size: 100%; 
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

ul {
  margin: 0;
}

.text-it {
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

.font-mono {
  font-family: monospace;
}

header {
  padding: 10px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px dotted rgba(175, 175, 200, 0.3); 
}

.p {
  margin: 0 0 1em 0;
  padding: 0;
  text-shadow: -1px 0 2px rgba(150, 150, 200, 0.2);  
}

h1 {
  margin: 0 0 0 0;
  font-size: 2.747em;
  font-family: 'Lato', serif;
}
h2 {
  margin: 0 0 0 0;
  font-size: 0.874em;
  font-family: 'Lato', serif;
}
h3 {
  margin: 0 0 5px 0;
  font-size: 1.229em;
  font-family: 'Lato', serif;
}
h4 {
  margin: 0 0 0 0;
}

.s-top {
  width: 100%; 
}

section.main-content {
  max-width: 34em;
  margin: 2em auto 0 auto;
  padding: 0 1em;
  font-size: 1.1em;
}

section.main-content > div {
  margin-bottom: 30px;
}

#show-hide-coursework {
  display: none;
  visibility: hidden;
}

.coursework-list {
  display: none;
  visibility: hidden;
}

.show-coursework, .hide-coursework {
  color: blue;
}

.show-coursework:hover, .hide-coursework:hover {
  cursor: pointer;
}

#show-hide-coursework:checked ~ .coursework-list {
  display: block;
  visibility: visible;
}

.show-coursework {
  display: block;
  visibility: visible;  
}

#show-hide-coursework:checked ~ .show-coursework {
  display: none;
  visibility: hidden;
}

.hide-coursework {
  display: none;
  visibility: hidden;
}

#show-hide-coursework:checked ~ .hide-coursework {
  display: block;
  visibility: visible;
}

.coursework-list {
  margin-top: 1em;
}

.coursework-list-year {
  margin-top: 1em;
}

.coursework-list-year ul li {
  list-style-type: none;
}

.coursework-semester-divline {
  height: 1px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  margin: 5px 0;
}

.class {
  display: none;
  visibility: hidden;
}
.class:before {
  font-family: monospace;
}

.coursework-filter-checkbox:checked + .coursework-filter {
  border: 2px solid green;
  color: green;
}

.coursework-filter {
  border: 2px solid red;
  border-radius: 5px;
  padding: 2px 3px;
  font-family: monospace;
  color: red;
}

#filter-CSC {
  display: none;
  visibility: hidden;
}
#filter-CSC:checked ~ div ul li.class-CSC{
  display: block;
  visibility: visible;
}

#filter-LIN {
  display: none;
  visibility: hidden;
}
#filter-LIN:checked ~ div ul li.class-LIN{
  display: block;
  visibility: visible;
}

#filter-SPN {
  display: none;
  visibility: hidden;
}
#filter-SPN:checked ~ div ul li.class-SPN{
  display: block;
  visibility: visible;
}

#filter-OTHER {
  display: none;
  visibility: hidden;
}
#filter-OTHER:checked ~ div ul li.class-OTHER{
  display: block;
  visibility: visible;
}

.class-ALS:before {
  content: "ALS ";
}
.class-ART:before {
  content: "ART ";
}
.class-CSC:before {
  content: "CSC ";
}
.class-ECN:before {
  content: "ECN ";
}
.class-HUM:before {
  content: "HUM ";
}
.class-LIN:before {
  content: "LIN ";
}
.class-MAT:before {
  content: "MAT ";
}
.class-MUS:before {
  content: "MUS ";
}
.class-PHI:before {
  content: "PHI ";
}
.class-PHY:before {
  content: "PHY ";
}
.class-SOC:before {
  content: "SOC ";
}
.class-SPN:before {
  content: "SPN ";
}
.class-TUT:before {
  content: "TUT ";
}

.s-bottom {
  max-width: 30em;
  height: 100px;
  margin: 0 auto;
  border-top: 1px solid rgba(200, 200, 200, 0.5); 
}

